*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}
.container__header{
    font-size: 3rem;
    text-transform: uppercase;
    background: linear-gradient(to right, red, rgb(230, 246, 7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}
.personal{
    background: linear-gradient(to right, rgb(61, 85, 16), rgb(230, 246, 7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container__info{
    text-align: left;
    font-size: 1.2rem;
    color: blue;
    line-height: 27px;
}
.container__footer .square{
    margin: 0 auto;
    margin-top: 450px;
    width: 250px;
    height: 100px;
    background-color: red;
    transition: all .5s ease;
    border: 1px solid transparent;
}
.container__footer .square:hover{
    border: 1px solid red;
    background-color: transparent;
    border-radius: 5px;
}
